<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#download').on('click', function(e) {
            e.preventDefault()
            var folderName = document.getElementsByName('fname')[0].value
            var payload = {
                data_folder: folderName
            };
            console.log(payload);

            fetch("/data/download",
            {
                method: "POST",
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(function(res){ return res.json(); })
            .then(function(data){ alert( JSON.stringify( data ) ) });

            return false;
          });
        });

        $(function() {
          $('a#knn').on('click', function(e) {
            e.preventDefault()
            document.getElementsByName('mname')[0].value = "K Nearest Neighbor";
          });
        });
        $(function() {
          $('a#rf').on('click', function(e) {
            e.preventDefault()
            document.getElementsByName('mname')[0].value = "Random Forest";
          });
        });
        $(function() {
          $('a#svm').on('click', function(e) {
            e.preventDefault()
            document.getElementsByName('mname')[0].value = "Support Vector Machine";
          });
        });

        $(function() {
          $('a#train').on('click', function(e) {
            e.preventDefault()
            var modelName = document.getElementsByName('mname')[0].value
            var payload = {
                model_name: modelName
            };
            console.log(payload);

            fetch("/ml_model/trigger",
            {
                method: "POST",
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(function(res){ return res.json(); })
            .then(function(data){ alert( JSON.stringify( data ) ) });

            return false;
          });
        });

</script>



<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">

<h2 style="text-align: center;"><strong>ML Toolbox</strong></h2>
<h6 style="text-align: right;">Made by Ajan and Phuc</h6>


<form>
  <label for="fname">Folder URL:</label>
  <input type="text" id="fname" name="fname"><br><br>
</form>

<form>
  <label for="fname">Model name:</label>
  <input type="text" id="mname" name="mname" readonly><br><br>
</form>



<div class="navbar">
  <a id=download>Download</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a id=knn>K Nearest Neighbor</a>
      <a id=rf>Random Forest</a>
      <a id=svm>Support Vector Machine</a>
    </div>
  </div>
  <a href="#">Train</a>
  <a href="#">Test</a>
  <a href="#">Visualize</a>
</div>


