<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#download').on('click', function(e) {
            e.preventDefault()
            var folderName = document.getElementsByName('fname')[0].value
            var payload = {
                data_folder: folderName
            };
            console.log(payload);

            fetch("/data/download",
            {
                method: "POST",
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })

            return false;
          });
        });

        $(function() {
          $('a#knn').on('click', function(e) {
            e.preventDefault()
            document.getElementsByName('mname')[0].value = "K Nearest Neighbor";
          });
        });
        $(function() {
          $('a#rf').on('click', function(e) {
            e.preventDefault()
            document.getElementsByName('mname')[0].value = "Random Forest";
          });
        });
        $(function() {
          $('a#svm').on('click', function(e) {
            e.preventDefault()
            document.getElementsByName('mname')[0].value = "Support Vector Machine";
          });
        });

        $(function() {
          $('a#train').on('click', function(e) {
            e.preventDefault()
            var modelName = document.getElementsByName('mname')[0].value
            var payload = {
                model_name: modelName
            };
            console.log(payload);

            fetch("/mltask/train",
            {
                method: "POST",
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            // .then(function(res){ return res.json(); })
            // .then(function(data){ alert( JSON.stringify( data ) ) });

            return false;
          });
        });

        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            var modelName = document.getElementsByName('mname')[0].value
            var payload = {
                model_name: modelName
            };
            fetch("/mltask/test",
            {
                method: "POST",
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(function(res){
              return res.json();
            })
            .then(function(data){
              document.getElementsByName('test_result')[0].value = data.text
            });

            return false;
          });
        });

        $(function() {
          $('a#visualization').on('click', function(e) {
            clear_visualization()
            e.preventDefault()
            var modelName = document.getElementsByName('mname')[0].value
            var payload = {
                model_name: modelName
            };

            fetch("/mltask/visualize",
            {
                method: "POST",
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(function(res){
              return res.json();
            })
            .then(function(data){
              image_visualization(data.image_name)
            });

            return false;
          });
        });

        function image_visualization(name) {
            var img = document.createElement("IMG");
            img.src = "/data/get_image/" + name;
            img.id = "visualization_img_component"
            document.getElementById('visualization_img_div').appendChild(img);
        }

        function clear_visualization() {
          if(document.getElementById("visualization_img_component")){
            var image_x = document.getElementById('visualization_img_component');
            image_x.parentNode.removeChild(image_x);
          }
        }

</script>



<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">

<h2 style="text-align: center;"><strong>ML Toolbox</strong></h2>
<h6 style="text-align: right;">Made by Ajan and Phuc</h6>


<form>
  <label for="fname">Folder URL:</label>
  <input type="text" id="fname" name="fname"><br><br>
</form>

<form>
  <label for="fname">Model name:</label>
  <input type="text" id="mname" name="mname" readonly><br><br>
</form>



<div class="navbar">
  <a id=download>Download</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a id=knn>K Nearest Neighbor</a>
      <a id=rf>Random Forest</a>
      <a id=svm>Support Vector Machine</a>
    </div>
  </div>
  <a id=train>Train</a>
  <a id=visualization>Visualize</a>
  <a id=test>Test</a>
</div>

<div id="visualization_img_div">
</div>

<form>
  <p><label >Validation result:</label></p>
  <textarea id="test_result" name="test_result" rows="10" cols="80"></textarea>
  <br>
</form>


